[depends]

main = base/main

[groups]

main =
    vendor/highlight/highlight.pack.js
    vendor/bootstrap/js/bootstrap.js
    vendor/openlayers/ol.js
    vendor/highcharts.js
    vendor/jquery.min.js
    view_ngsi.js
    view_ngsi_map.js

    vendor/bootstrap/css/bootstrap-responsive.css
    vendor/bootstrap/css/bootstrap.css
    vendor/openlayers/ol.css
    styles/github.css
    css/ngsi.css