[depends]

main = base/main

[groups]

main =
    vendor/highlight.pack.js
    view_ngsi.js
    view_ngsi_map.js
    preview_ngsi.js
    preview_ngsi_map.js
    bootstrap/js/bootstrap.js
    openlayers/ol.js

    styles/github.css
    css/ngsi.css
    bootstrap/css/bootstrap-responsive.css    
    bootstrap/css/bootstrap.css
    openlayers/ol.css
