.format-label {
  *margin-right: .3em;
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("/images/sprite-resource-icons.png");
  background-repeat: no-repeat;
  background-position: 16px 16px;
  text-indent: -900em;
  background: url("/images/sprite-resource-icons.png") no-repeat 0 0;
}
.format-label {
  width: 32px;
  height: 35px;
  background-position: 0px -62px;
}
.format-label[data-format=rdf],
.format-label[data-format*=rdf] {
  width: 32px;
  height: 35px;
  background-position: -32px -62px;
}
.format-label[data-format=pdf],
.format-label[data-format*=pdf] {
  width: 32px;
  height: 35px;
  background-position: -64px -62px;
}
.format-label[data-format=api],
.format-label[data-format*=api] {
  width: 32px;
  height: 35px;
  background-position: -96px -62px;
}
.format-label[data-format=zip],
.format-label[data-format*=zip] {
  width: 32px;
  height: 35px;
  background-position: -128px -62px;
}
.format-label[data-format=xls],
.format-label[data-format*=xls] {
  width: 32px;
  height: 35px;
  background-position: -160px -62px;
}
.format-label[data-format=csv],
.format-label[data-format*=csv] {
  width: 32px;
  height: 35px;
  background-position: -192px -62px;
}
.format-label[data-format=txt],
.format-label[data-format*=txt] {
  width: 32px;
  height: 35px;
  background-position: -224px -62px;
}
.format-label[data-format=xml],
.format-label[data-format*=xml] {
  width: 32px;
  height: 35px;
  background-position: -256px -62px;
}
.format-label[data-format=json],
.format-label[data-format*=json] {
  width: 32px;
  height: 35px;
  background-position: -288px -62px;
}
.format-label[data-format=html],
.format-label[data-format*=html] {
  width: 32px;
  height: 35px;
  background-position: -320px -62px;
}
.format-label[data-format=ngsi9],
.format-label[data-format*=ngsi9] {
  width: 32px;
  height: 35px;
  background-position: -352px -62px;
}
.format-label[data-format=ngsi10],
.format-label[data-format*=ngsi10] {
  width: 32px;
  height: 35px;
  background-position: -385px -62px;
}

.label[data-format="ngsi9"], 
.label[data-format*="ngsi9"] {
    background-color: #66FF66;
}
.label[data-format="ngsi10"],
.label[data-format*="ngsi10"] {
    background-color: #65C3D1;
}

