
pre{font-size:13px}
.loading{font-weight:bold;font-family:sans-serif;font-size:16px;position:fixed;left:-20px;top:20px}
.popover{min-width:350px;}
.ol-viewport{position: relative; overflow: hidden; width: 100%;}
.popover-content{min-width:350px;top:5px;}
#view_container{width:100%;}
.map{height:0px;border:0px;border-radius: 4px;}
#chart{height:0px;border:0px;border-radius: 4px;}
#popup{height:60px;width:5px;}
#prepopup{position:absolute;display:none;}
#buttonbar{width:100%;text-align:right;}
#dbtn{margin-bottom:5px;}
.dygraph-legend{text-align:left  !important;left: 100px !important;top: 5px !important;width:600px !important; background-color: transparent !important;}
