{% extends 'dataviewer/base.html' %}
{% block page %}
    <div style="" id="map" class="map" data-module="ngsiviewmap" style="position: relative; width: 90%; overflow:hidden;">
        <div class="ol-overlaycontainer">
            <div style="position: relative; left:100px; overflow: hidden; width: 100%;" class="ol-viewport">
                <div class="ol-overlaycontainer">
                    <div style="position: absolute; display: none;">
                        <div id="popup"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </br>
    <pre data-module="ngsiview" style="position: relative;overflow:hidden;">
    <div class="loading">
        {{ _('Loading...') }}
    </div>
    </pre>
  {% block scripts %}
    {{ super() }}
    <script>
      var preview_metadata = {{ h.literal(c.preview_metadata) }};
    </script>
  {% endblock %}

  {% resource 'ckanext-ngsiview/main' %}

{% endblock %}
