{% extends 'dataviewer/base.html' %}
{% block page %}
    <div id="chart" data-module="ngsiviewchart"></div>
    <div style="" id="map" class="map" data-module="ngsiviewmap"></div>
    </br>
    <pre data-module="ngsiview" style="position: relative;overflow:hidden;">
    <div class="loading">
        {{ _('Loading...') }}
    </div>
    </pre>
    {% block scripts %}
        <script>
            var preload_resource = {{ h.literal(resource_json) }};
            var resource_url = {{ h.literal(resource_url) }};
            var preview_metadata = {{ h.literal(preview_metadata) }};
            var view_enable = {{ h.literal(view_enable) }};
        </script>
    {% endblock %}

{% resource 'ckanext-ngsiview/main' %}
{% endblock %}
