{% extends 'dataviewer/base.html' %}
{% block page %}
    <div style="" id="map" class="map" data-module="ngsiviewmap" style="position: relative; width: 830px; overflow:hidden;">
        <div class="ol-overlaycontainer">
            <div style="position: relative; left:100px; overflow: hidden; width: 100%;" class="ol-viewport">
                <div class="ol-overlaycontainer">
                    <div style="position: absolute; display: none;">
                        <div id="popup"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </br>
    <pre data-module="ngsiview" style="position: relative; width: 830px;overflow:hidden;">
    <div class="loading">
        {{ _('Loading...') }}
    </div>
    </pre>
    {% block scripts %}
        <script>
            var preload_resource = {{ h.literal(resource_json) }};
            var resource_url = {{ h.literal(resource_url) }};
            var preview_metadata = {{ h.literal(preview_metadata) }};
        </script>
    {% endblock %}
    <H1>{{ _(h.literal(view_enabled)) }}</H1>
{% resource 'ckanext-ngsiview/main' %}
{% endblock %}
